<section id="billing">   {{!-- id is used for hide the session when payment success/error page is visible --}}
  <div class="container">
    

    <table class="display " id="orderslist">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">Order Id</th>
          
          
          <th scope="col">Products</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Order Status</th>
          <th scope="col">Amount</th>
          <th scope="col">Delivery Status</th>
          <th scope="col">Options</th>
          
          
        </tr>
      </thead>
     <tbody>
      {{#each ordersList}}
      <tr>
        <td>{{inc @index}}</td>
        <td>{{this.Date}}</td>
        <td>{{this._id}}</td>
        <td>
        {{#each proList}}
        
        {{#if @first}}
        
        <img width="50px" , height="50px" src="/product-images/{{this._id}}.jpg" alt="">
        <div>{{this.name}}</div>
        
        
        {{else}}
        <br>
        <img width="50px" , height="50px" src="/product-images/{{this._id}}.jpg" alt="">
        <div>{{this.name}}</div>

        {{/if}}
        
        
        {{/each}}
        </td>
        
         <td>{{this.Payment_method}}</td>
         <td>{{this.Order_Status}}</td>
         <td>{{this.Total}}</td>
         <td>{{this.Delivery_Status}}</td>
         <td>
          {{#if (eq this.Order_Status 'pending')}}
          <button class="btn btn-success" onclick="completePayment('{{this._id}}','{{this.Total}}','{{this.deliveryDetails.Phone}}')">PAY</button></td>
          {{/if}}

      </tr>
      {{/each}}
      
     </tbody>
    </table>
  </div>

</section>
<section id="successfull_page" hidden>
        <div class="d-flex justify-content-center row" style="padding-top: 150px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-circle-fill" style="font-size: 106px;color: rgb(43,237,51);">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            <p id="successmsg" class="h4 pt-3" style="text-align: center;"></p>
        </div>
    </section>
    <section id="payment_failed" hidden>
        <div class="d-flex justify-content-center row" style="padding-top: 150px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x-circle-fill" style="font-size: 106px;color: var(--bs-danger);">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
            </svg>
            <p id="errormsg" class="h4 pt-3" style="text-align: center;"></p>
        </div>
    </section>